.service {
  padding: 10px;
  padding-bottom: 4em;
}
.serviseTitle {
  text-align: center;
}
.serviseTitle h1 {
  font-size: 3em;
}
.serviceCardWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardItem {
  width: 22%;
  padding: 2.2em;
  margin: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: #ecebeb6d;
  cursor: pointer;
  transition: all 0.3s;
}
.serviceCardTitle h3 {
  font-weight: bold;
}
.serviceLogo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.serviceSummary {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
.service_link {
  text-decoration: none;
}
.cardItem:hover {
  transform: translateY(-5px);
}

/* responsive code */
@media screen and (max-width: 823px) {
  .service {
    margin-top: -10%;
  }
  .cardItem {
    width: 30%;
    /* width: 25%; */
  }
}
@media screen and (max-width: 953px) {
  .service {
    margin-top: -10%;
  }
  .cardItem {
    width: 30%;
  }
}

@media screen and (max-width: 653px) {
  .cardItem {
    width: 100%;
    display: block;
    margin: 10px;
  }
  .serviseTitle h1 {
    font-size: 2em;
  }
}
