.contactContainer {
  margin-top: 0;
}
.contactTitle {
  text-align: center;
  margin-top: 12%;
}
.contactTitle h1 {
  font-size: 3em;
}

.slider {
  margin: 0 auto;
  margin-top: -30px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  height: 5px;
  border-radius: 20px;
  width: 150px;
}
.contactWrapper {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: wrap;
  flex-direction: row;
}
.contactImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.contactImage img {
  display: block;
  width: 65%;
  object-fit: cover;
}
.contactForm {
  flex: 1;
}

.formControl {
  width: 80%;
  padding: 2em;
  line-height: 3em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.twoForm {
  display: flex;
  justify-content: space-between;
}
.twoForm input {
  width: 45%;
}

.formControl input {
  height: 2.5em;
  margin-bottom: 1.1em;
  background-color: rgba(18, 17, 17, 0.112);
  padding: 7px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
}
.textArea textArea {
  width: 98%;
  height: 10em;
  border: none;
  font-family: "Poppins";
  background-color: rgba(128, 128, 128, 0.112);
  padding: 7px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
  resize: vertical !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ----------Responsive Code  --------- */

@media screen and (max-width: 1150px) {
  .contactWrapper {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .textArea textArea {
    width: 97%;
  }
  .contactTitle {
    margin-top: 10%;
  }
  .slider {
    margin-top: -25px;
    width: 100px;
  }
  .contactWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .formControl input {
    height: 2.5em;
    margin-bottom: 1.1em;
  }
  .contactImage img {
    width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 768px) {
  .contactTitle {
    margin-top: 15%;
  }

  .slider {
    width: 100px;
  }
  .contactWrapper {
    margin-top: 5%;
    display: block;
  }
  .contactTitle h1 {
    font-size: 2em;
  }
  .contactImage img {
    width: 50%;
    object-fit: contain;
  }
  .contactForm {
    text-align: center;
  }
  .formControl {
    width: 90%;
    padding: 2em;
    line-height: 4em;
    flex-direction: column;
  }
  .twoForm {
    display: flex;
    justify-content: space-between;
  }
  .twoForm input {
    width: 45%;
  }

  .formControl input {
    height: 2.5em;
    margin-bottom: 1.1em;
    background-color: rgba(128, 128, 128, 0.112);
    padding: 7px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
  }
  .textArea textArea {
    width: 97%;
    border: none;
    font-family: "Poppins";
    background-color: rgba(128, 128, 128, 0.112);
    padding: 7px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    outline: none;
    resize: vertical !important;
  }
}

@media screen and (max-width: 640px) {
  .contactTitle {
    margin-top: 20%;
  }
}
