.workSection {
  margin-top: 10em;
}
.workSectionWrapper {
  padding: 10px;
}
.ourWorkSectionTitle span {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ourWorkSectionTitle h2 {
  margin-top: 0.1em;
}
.ourWorkTabs {
  padding-left: 0;
  margin: -1.2em 0;
}
.ourWorkTabWrapper {
  padding: 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

.ourWorkTabsItem {
  margin-right: 1em;
  list-style: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  padding: 5px 20px;
  box-sizing: border-box;
}
.activeTabs {
  border: 2px solid blue;
  border-radius: 6px;
  color: blue;
}

.ourWorkSectionWrapper {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ourWorkSectionCard {
  box-sizing: border-box;
  width: 30%;
  /* flex: 1 1 30%; */
  margin-bottom: 2.5em;
  margin-right: 2.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.ourWorkSectionCard a {
  color: black;
}
.ourWorkSectionSubtitle :first-child {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ourWorkSectionImage {
  display: block;
  overflow: hidden;
}
.ourWorkSectionImage img {
  display: block;
  object-fit: fill;
  width: 100%;
  border-radius: 2.5em;
  height: 13em;
}
.ourWorkSectionSubtitle {
  box-sizing: border-box;
  padding: 2em 15px 1em 20px;
  line-height: 0.1em;
}
.ourWorkSectionSubtitle p {
  font-size: 15px;
}

.ourWorkSectionCard:hover {
  transform: translateY(-10px);
}

.loadMore {
  margin-top: 3em;
  text-align: center;
}
