:root {
  --primary--content: black;
}
.content_section {
  /* background-color: #b1b2ff; */
  margin-top: 0em;
}
.content__div {
  position: relative;
  top: 5em;
  margin-bottom: 2em;
}

#content_img1 {
  position: absolute;
  left: 190.21px;
  top: 58.31px;
  transform: rotate(-17.65deg);
}

#content_img2 {
  position: absolute;

  left: 121px;
  top: 493.16px;
  transform: rotate(-25.04deg);
}
#content_img3 {
  position: absolute;

  left: auto;
  right: 2em;
  top: 44.68px;
  transform: rotate(-12.84deg);
}
#content_img4 {
  position: absolute;
  left: auto;
  right: 2em;
  top: 30em;
  transform: rotate(31.55deg);
}

.content_section_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* gradient */
  background: radial-gradient(
    39.82% 39.82% at 50% 50%,
    rgba(48, 175, 247, 0.182063) 26.56%,
    rgba(209, 205, 255, 0.37) 67.19%,
    rgba(243, 243, 243, 0) 100%
  );
}
.content__title {
  padding: 10px;
  text-align: center;
}
.content__title h1 {
  font-size: 4em;
  line-height: 0px;
  color: var(--primary--content);
}

.content__title h1:first-child {
  margin-bottom: 20px;
  padding: 45px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.content_sub_title {
  margin-bottom: 3%;
  text-align: center;
}
.content_sub_title p {
  color: var(--primary--content);
}
.start_project_content__div button {
  display: flex;
  align-items: center;
}
.btn_content_icon {
  margin-left: 5px;
  display: inline;
}
.btn_content_icon svg {
  margin-top: 0px;
}

/* responsie code */
@media screen and (max-width: 1110px) {
  .content__title :nth-child(1) {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 960px) {
  .content_section {
    margin-bottom: 5%;
  }
  .content__title h1 {
    font-weight: bolder;
    display: inline;
    font-size: 3.5rem;
    line-height: 30px;
  }
  .content__title {
    text-align: center;
  }
  .content__title :nth-child(1) {
    line-height: 1em;
  }
  .content__title :nth-child(2) {
    line-height: 1em;
  }
}

@media screen and (max-width: 540px) {
  .content_section {
    margin-bottom: 5%;
  }
  .content__title h1 {
    font-weight: bolder;
    display: inline;
    font-size: 3rem;
    line-height: 30px;
  }
  .content__title {
    padding: 10px;
    text-align: center;
  }

  .content__title :nth-child(1) {
    display: inline-block;
    padding: 0px;
    line-height: 1.2em;
  }
  .content__title :nth-child(2) {
    display: inline-block;
    margin-top: -0.7em;
    line-height: 1.2em;
  }
  .content_sub_title {
    margin-top: -10%;
    text-align: center;
  }
}
