.sDetailContainer {
  margin-top: 0;
  background-color: #f5f3f379;
}

.sDetailWrapper {
  margin-top: 5%;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sDetailItem {
  flex: 1;
}
.sDetailSummary h3 {
  margin-top: -0.6em;
}
.sDetailSummary p {
  margin-top: -1em;
}
.sDetailImage {
  display: flex;
  justify-content: center;
  flex: 1;
}
.sDetailImage img {
  display: block;
  text-align: center;
  object-fit: contain;
  width: 65%;
}

/* -----------Responsive code-------------- */
@media screen and (max-width: 1150px) {
  .sDetailWrapper {
    flex-direction: column;
  }
  .sDetailSummary {
    display: block;
    width: 100%;
  }
  .sDetailItem {
    display: block;
  }

  .sDetailImage {
    display: block;
    width: 100%;
  }
  .sDetailImage img {
    width: 80%;
  }
  .sDetailBtn {
    display: block;
    margin-bottom: 2.5em;
  }
}
