.sDetailWrapper {
  background-color: #f5f3f379;
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sDetailItem {
  padding: 10px;
  flex: 1;
}
.sDetailImage {
  padding-left: 2em;
  flex: 1;
}
.sDetailImage img {
  display: block;
  object-fit: contain;
  width: 60%;
}

/* -----------Responsive code-------------- */
@media screen and (max-width: 1150px) {
  .sDetailWrapper {
    flex-direction: column;
    padding: 5em 10px;
  }
  .sDetailSummary {
    display: block;
    width: 100%;
  }
  .sDetailItem {
    display: block;
  }

  .sDetailImage {
    display: block;
    width: 90%;
  }
  .sDetailImage img {
    object-fit: cover;
    width: 80%;
  }
  .sDetailBtn {
    display: block;
    margin-bottom: 2.5em;
  }
}
