.NavbarContainer {
  position: fixed;
  width: 100%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  z-index: 10000;
  background: #fff;
}

.NavbarItems {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  height: 20px;
  z-index: 10000;
}

.nav-bg {
  /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
}
.navbar-logo {
  width: 10%;
  justify-self: start;
  align-self: center;
  cursor: pointer;
}
.navbar-logo img {
  display: block !important;
  object-fit: contain;
  width: 8rem;
}
.right-header {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  margin: 1em auto;
  text-align: center;
  list-style: none;
  margin-right: 2rem;
}
.nav-links {
  align-self: center;
  margin: 5px;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
.header-btn {
}
li a.active {
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links:hover {
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mobile-icon {
  color: #fff;
  font-size: 30px;
}

.nav-links-mobile {
  display: none;
}

.menu-icons {
  display: none;
}

@media screen and (max-width: 1073px) {
  .NavbarContainer {
    /* position: relative; */
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: block;
    position: absolute;
    top: 4em;
    left: -110%;
    opacity: 1;
    transition: all 0.4s ease;
    padding: 0px;
    margin: 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
      rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  .nav-menu.active {
    background: #a62349;
    color: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    /* display: table; */
    font-size: 17px;
    font-weight: bold;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1.5rem;
    width: 100%;
  }
  .nav-links a.active {
    color: black !important;
    font-size: 22px;
    font-weight: bold;
  }

  .nav-links:hover {
    background-color: red;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: -5.2em;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .mobile-icon {
    color: #000;
    font-size: 30px;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    color: rgb(254, 247, 247) !important;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .nav-links-mobile :hover {
    background: #fff;
    color: #f3f3f3;
    transition: 250ms;
  }
  Button {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 1250px) {
  .NavbarItems {
    width: 98%;
  }
}
