.project__container {
  margin-top: 5em;
  padding: 5em;
  box-sizing: border-box;
}
.project__wrapper {
  margin-left: 5%;
}
.our__project span.our__project__subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
  color: blueviolet;
}
.our__project__title {
  margin-top: -20px;
}
.our__project__title h2 {
  font-size: 3em;
  line-height: 43px;
  font-weight: 700;
  /* margin-bottom: 7px; */
}

.project__summary p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.project__card__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  top: 3em;
  left: 0;
}

.project__card {
  flex: 1;
  margin-right: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.project__image {
  position: relative;
  top: 0;
  left: 0;
}
.project__image img {
  width: 390px;
  height: 532px;
  border-radius: 10px;
}

.project__card__title h1 {
  color: white;
  font-size: 1.8em;
  margin-top: 20px;
}
.project__card__title p {
  color: rgb(207, 201, 201);
  opacity: 1;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.project__card__title__subtitle {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 30%;
  padding: 2em;
}

.project__card__summary {
  color: white;
  margin-top: -10px;
  display: none;
  transition: 1s ease all;
}
.project__card__summary p {
  transition: 1s ease all;
  opacity: 1;
  font-family: 600;
}
.project__card__title,
.project__card__summary {
  width: 390px;
  position: relative;
  z-index: 20;
  color: white;
  font-weight: bold;
}

/* .project__card__summary p {
  display: none;
} */
.project__card {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.project__card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 532px;
  background: #000000;
  opacity: 0.4;
}
.project__card .project__image img {
  transition: 1s ease all;
  width: 100%;
  object-fit: cover;
}
.project__card:hover .project__image img {
  transform: scale(1.1);
}

.project__card:hover .project__card__summary {
  display: block;
}
