.projectTitle span {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectTitle h2 {
  margin-top: 0em;
}

.projectTitle p {
  font-size: 16px;
  color: black;
  margin-top: -2.2em;
}
.projectWrapper {
  padding: 10px;
}
.projectCardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5em;
}

.ourProjectCard {
  width: 30%;
  margin-top: 2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ourProjectCard a {
  color: black;
}

.ourProjectSubtitle :first-child {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourProjectImage {
  display: block;
  overflow: hidden;
}

.ourProjectImage img {
  object-fit: cover;
  width: 100%;
  border-radius: 2.5em;
  height: 12em;
}
.ourProjectSubtitle {
  box-sizing: border-box;
  padding: 1em 15px 0em 15px;
  box-sizing: border-box;
  line-height: 0.1em;
}
.ourProjectSubtitle p {
  font-size: 15px;
}

.ourProjectCard:hover {
  transform: translateY(-10px);
}
