.ourwork {
  margin-top: 0;
  padding-top: 7em;
  text-align: center;
}
.ourwork-heading p {
  margin-top: 0;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.ourwork-heading h1 {
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.rectangleWrapper {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rectangle_ring {
  margin-top: 50px;
}
.rectangle_ring img {
  display: inline-block;
  object-fit: contain;
  width: 60%;
}

.ourwork-imagebox {
  margin-top: -21em;
}
.ourwork-imagebox img {
  display: inline-block;
  object-fit: cover;
  width: 70%;
  height: 60vh;
  object-position: center center;
  border: 2px solid #000;
  border-radius: 50em !important;
}

/* responsive code */

@media screen and (min-width: 950px) {
}
@media screen and (max-width: 883px) {
  .ourwork-imagebox img {
    width: 100%;
    height: 50vh;
  }
  .ourwork-imagebox {
    margin-top: -9em;
  }
}
@media screen and (max-width: 525px) {
  .ourwork-imagebox img {
    width: 89%;
    height: 43vh;
  }
  .ourwork-imagebox {
    margin-top: -10em;
  }
}
