.ourwork {
  margin-top: 0;
  padding-top: 150px;
  margin-bottom: 200px;
  text-align: center;
}
.ourwork-heading p {
  margin-top: 0;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.ourwork-heading h1 {
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

.rectangle_ring {
  position: absolute;
  transform: translateX(50%);
  margin-top: 40px;
}

.ourwork-imagebox {
  margin: 76px auto;
  width: 895px;
  height: 425px;
}
.ourwork-imagebox img {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 2000px;
}
