::root {
  --swiper-navigation-size: 44px;
  --swiper-navigation-color: white;
}
.swiper {
  background-color: white !important;
  padding: 0.2em;
  padding-bottom: 4em !important;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-size: 18px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 30%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper > .swiper-button-next,
.mySwiper > .swiper-button-prev {
  position: absolute;
  top: 95%;
  width: calc(var(--swiper-navigation-size) / 44 * 27) !important;
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color) !important;
}

/* left */
.mySwiper > .swiper-button-prev {
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  border-radius: 50%;
  padding: 0px 0em;
  padding: 2px;
  width: 2em !important;
  height: 2em;
}
.mySwiper > .swiper-button-next {
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  border-radius: 50%;
  padding: 0px 0em;
  padding: 2px;
  width: 2em !important;
  height: 2em;
}
.mySwiper > .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: 83px !important;
}

.mySwiper > .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  right: 83px !important;
}

.mySwiper > .swiper-button-prev,
.mySwiper > .swiper-rtl .mySwiper > .swiper-button-next {
  right: 83px !important;
}

.mySwiper > .swiper-button-next::after,
.mySwiper > .swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold !important;
  color: white !important;
  text-transform: none !important;
}

.mySwiper > .swiper-button-next:after,
.mySwiper > .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.mySwiper > .swiper-button-prev,
.mySwiper > .swiper-rtl .swiper-button-next {
  left: auto;
}
.mySwiper > .swiper-button-prev:after,
.mySwiper > .swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.mySwiper > .swiper-button-next:after,
.mySwiper > .swiper-rtl .swiper-button-prev:after {
  content: "next";
}
