.testnomialWrapper {
  margin-top: 5em;
  padding: 5em;
  background-color: #f5f3f379;

  box-sizing: border-box;
}
/* 
.testnomialCard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
} */
.testnomialCardItems {
  margin: 10px;
  width: 20%;
  padding: 10px;
}

.star_image img {
  display: block;
  object-fit: contain;
  height: 100px;
  width: 100px;
}
.testnomialSummary {
  margin-top: -10%;
}
.testnomialSummary p {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.testnomialAuthor {
  margin-top: 5%;
}
.testnomialAuthor img {
  display: block;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.autherName {
  height: 50px;
  box-sizing: border-box;
}
.autherName p {
  box-sizing: border-box;
}

.user_loveUs {
  margin-top: -1%;
}
.user_loveUs h1 {
  font-size: 2.5em;
  /* margin-left: 9.5%; */
  margin-left: 1.5%;
}

/* responsive code */
@media screen and (max-width: 823px) {
  .testnomialAuthor img {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 953px) {
  .testnomialWrapper {
    padding: 10px;
    /* border: 2px solid red; */
  }
  .user_loveUs h1 {
    margin-left: 8%;
  }

  .testnomialAuthor img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 653px) {
  .user_loveUs h1 {
    font-size: 2em;
    margin-left: 5%;
  }
  .testnomialCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .testnomialCardItems {
    /* width: 90%; */
    width: 90%;
  }
  .star_image {
    margin-bottom: 2em;
  }

  .testnomialAuthor img {
    width: 60px;
    height: 60px;
  }
}
