.testnomialContainer {
  padding: 10px;
}

.testnomialTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.testnomialTitle p {
  margin-top: -1.5em;
}
.testnomialQoute {
  color: #b9b9b9b4;
  font-size: 5em;
}

.testnomialCardWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}
.tesnomialCard {
  width: 31%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.5s ease;
}

.tesnomialContent {
  box-sizing: border-box;
  padding: 1em 1em;
}
.testnomialQoute2 {
  color: #b9b9b9b4;
  font-size: 2em;
}
.tesnomialContent h3 {
  margin-top: 0.5em;
}
.tesnomialContent p {
  margin-top: -1.5em;
}
.testnomialuserDetail {
  display: flex;
  box-sizing: border-box;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: #f5f3f379;
}

.testnomialImage {
  overflow: hidden;
}

.testnomialImage img {
  overflow: hidden;
  text-align: center;
  display: block;
  object-fit: contain;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.testnomialUser {
  box-sizing: border-box;
  margin-left: 2em;
}

.testnomialUser p {
  margin-top: -2em;
}

.tesnomialCard:hover {
  transform: scale(1.05);
}

.testnomialArrowBtn {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.3em;
}
.testnomialArrowBtn svg {
  font-size: 1.8em;
  margin-left: 1.5em;
  cursor: pointer;
}
.testnomialArrowBtn .leftArrow {
  color: white;
  border-radius: 50%;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);

  /* display: inline-block; */
}

/* Responsive code */

@media screen and (max-width: 780px) {
  .testnomialQoute {
    font-size: 3em;
  }
  .testnomialQoute2 {
    font-size: 1.75em;
  }
  .tesnomialCard {
    margin-right: 0px;
  }
}
