.webUserTitle {
  text-align: center;
}
.webUserTitle span {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-bottom: 1.5em;
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.webUserTitle h2 {
  margin-top: -15px;
}

.webUserComp {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -2.5em;
}
.webUserComp img {
  object-fit: fill;
  margin: 2em;
  width: 8em;
}

@media screen and (max-width: 768px) {
  .webUserComp img {
    width: 6rem;
  }
}
