:root {
  --primary: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  --btn-color: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
}

.btn,
.btn-sm {
  font-size: 1px;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background: linear-gradient(120deg, #5b47db 20.69%, #0fe3ffcc 79.69%);
  color: #fff;
  transition: 250ms;
}

.btn--primary {
  background: var(--primary);
}
.btn--outline {
  background: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--btn-color);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.btn--large {
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

/* -----------Responsive code-------------- */
@media screen and (max-width: 1150px) {
  .btn {
    margin-right: 20px;
  }
  .btn-sm {
    font-size: 15px;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 960px) {
  .header-btn-none {
    display: none;
  }
}
