/* .funFact {
  background-color: #f5f3f379;
  margin-top: 2em;
} */
.funFact_card {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.funFact_reviews {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}
.funFact_review_items {
  line-height: 2em;
}
.review_title {
}
.review_title h3 {
  background: linear-gradient(120deg, #5f45ff 20.69%, #0fe3ff 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}
.review_comments {
  margin-top: -15%;
}
.review_comments p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

/* responsive code */

@media screen and (max-width: 580px) {
  .funFact_reviews {
    padding: 10px;
    flex-direction: column;
  }
  .funFact_review_items {
    margin: 0px 20px;
    display: block;
  }
  .review_comments {
    margin-top: -2em;
  }
}
