.footer {
  background-color: rgba(75, 75, 174, 0.97);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 6em;
}
.left__footer {
  flex: 1;
}
.footer__left__card {
  background-color: rgba(102, 102, 196, 0.893);
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 20px;
}
.footer__left__card__title {
}
.footer__left__card__title h1 {
  font-size: 3.5em;
  color: white;
}
.left__footer__card__desc {
}
.left__footer__card__desc p {
  color: rgba(255, 255, 255, 0.667);
  font-size: 18px;
  font-weight: 500;
}
.right__footer {
  flex: 2;
}

.visual__design {
  /* background-color: white; */
}
