.card_section {
  margin-bottom: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}
.content_section__body {
  flex: 1;
}

.section_image {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section_image img {
  display: block;
  object-fit: contain;
  width: 65%;
}
.content_btn {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.content_see_all {
  text-decoration: none;
  margin-left: 2em;
  font-weight: bold;
}
.content_see_all:hover {
  color: blue !important;
}

@media screen and (max-width: 1150px) {
  .section__body {
    padding: 0em 0em;
  }

  .card_section {
    padding: 10px;
  }
  .hero_btn_try {
    display: block;
    margin-bottom: 40px;
  }
  .content_see_all {
    display: inline-block;
  }
  .section_image {
    margin-top: 2em;
    flex: 1;
  }
  .section_image img {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 780px) {
  .card_section {
    display: block;
  }
  .hero_btn_try {
    display: block;
    width: 35%;
    padding: 10px;
  }
  .section_image img {
    width: 80%;
    display: block;
    object-fit: contain;
  }
}
